.feed{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.feed::-webkit-scrollbar {
    display: none;
};
.sidebar{
    /* animation-name: example;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; */
    display: none;
    background-color: red !important;
}
